<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="pr-wrap">
        <div class="pass-reset">
          <label>Enter The Administrators Email Address</label>
        </div>
      </div>
      <div class="wrap">
        <p class="form-title">Sign In</p>
        <form class="login" id="form1">
          {{input type="email" placeholder="Email"}}
          {{input type="password" placeholder="Password"}}
          {{input type="submit" value="Sign In" class="btn btn-success btn-sm"}}
      </div>
    </div>
  </div>
  <div class="posted-by">&#0169; Phancy Petals 2017</div>
</div>
