<head>
  <link rel="shortcut icon" href="http://iflorist.co.za/shop/skin/frontend/ultimo/default/images/logo2_transp.png"/>

</head>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="wrap">
        <p class="form-title">Sign In</p>


        <center>
           {{input type="text" placeholder="Username" value=email}}<br><br>
           {{input type="password" placeholder="Password" value=password}}<br><br>
           <button {{action "login"}} class="btn btn-success btn-sm">Submit</button>
         </center>


      </div>
    </div>
  </div>
  <div class="posted-by">&#0169; Phancy Petals 2017</div>
</div>
